# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# cSpell configuration
cspell.json

# React-specific files
*.cache/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Netlify deployment
.netlify/
netlify.toml

# Miscellaneous
*.bak
*.tmp
*.temp